@import 'scrollbar.css';

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* Footer Menu */
.footer-menu {
  grid-template-areas: 'legal project resources links'
}
.footer-area-legal {
  grid-area: legal;
}

/* Fonts */
.font-cairo {
  font-family: 'Cairo', sans-serif;
}
